     body{
        background: #0f0f0e;
        text-align: center;
        font-family: "Arial", sans-serif;
        color: white;
        /*width: 35em;
        height: 10em;*/
      }
      h1{
        color: rgb(173, 121, 0);
      }
      #text1{
        color: green;
        text-align: center;
      }
      #break{
        background-color: black;
        text-align: center;
      }